/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.wrap {
  position: relative;
  width: 100%;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 28rem;
  a {
    @if $theme-color != $default { color: $theme-color; }
  }
}

@media (min-width: 38em) {
  .container {
    max-width: 32rem;
    &.content {
      padding-top: 6.5rem;
    }
  }
}
@media (min-width: 56em) {
  .container {
    max-width: 840px;
  }
}

.search{
  position: absolute;
  right: 2.8rem;
  top: 1rem;
  left: auto;
  display: block;
  padding: 0 .75rem;
  font-size: 20px;
}
.search > i{
  color: #1B6EC4;
}

#search-input{
  border: 2px solid #ec4c6a;
  width: 500px;
  height: 40px;
  padding-left: 0.8rem;
  font-size: 1rem;
  color: #268bd2;
}

#search-input:focus{
  outline: none;
}

#search-container-google table,
#search-container-google td,
#search-container-google tr,
#search-container-google tbody{
  border: none !important;
}



// 아이폰 6 이하
@media (max-width: 415px) {
  #search-input{
    width: 330px;
  }
  ul, ol{
    -webkit-padding-start: 15px;
  }
  h1{
    font-size: 1.5rem;
  }
  h2{
    color: #ec4c6a !important;
  }
  h2, h3{
    font-size: 1.3rem;
  }

}

#blog-title{
  vertical-align: text-top;
  font-size: 80%;
  color : rgba(49, 49, 49, 0.82);
}

.nav-up {
    top: -92px;
}
